# Global options for cmsBuild
[globals]
compilingProcesses: 5
testTag: True
repository: comp
# You can specify %(tmpdir)s to have a random directory of the form tmpXXXXX
assumeYes: True
tag: cmp
doNotBootstrap: True
# In order to create a bootstrap we need to
# * build the bootstrap-driver
# * upload apt to the repository.
[build bootstrap-driver #amd64_gcc345]
compilerVersion: 3.4.5
[build bootstrap-driver #amd64_gcc422]
compilerVersion: 4.2.2
[build bootstrap-driver #ia32_gcc345]
compilerVersion: 3.4.5
use32BitOn64: True
[build bootstrap-driver #ia32_gcc422]
compilerVersion: 4.2.2
use32BitOn64: True
[upload bootstrap-driver #ia32_gcc422]
compilerVersion: 4.2.2
use32BitOn64: True
syncBack: True
priority: 100
[upload bootstrap-driver #ia32_gcc345]
compilerVersion: 3.4.5
syncBack: True
use32BitOn64: True
priority: 100
[upload bootstrap-driver #amd64_gcc422]
compilerVersion: 4.2.2
syncBack: True
priority: 100
[upload bootstrap-driver #amd64_gcc345]
compilerVersion: 3.4.5
syncBack: True
priority: 100
