# Global options for cmsBuild
[globals]
testTag: True
assumeYes: True
onlyOnce: True
testTag: True
trace: True
repository: dlTest4
[bootstrap]
priority: -30
doNotBootstrap: True
repositoryDir: dlTest4
[build cmssw-tool-conf]
testTag: False
tag: cms
compilingProcesses: 5
workersPoolSize: 3 
priority: -20
[build cmssw]
testTag: False
tag: cms
compilingProcesses: 4
workersPoolSize: 1 
priority: -10
[upload cmssw]
# Higher priority count means that the upload will happen after the build.
priority: 100
syncBack: True
uploadTmpRepository: dlange
